<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A9CB7FC1F8B15AE00DBB325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A9CB8151F8B15AF00DBB325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A9CB8201F8B15AF00DBB325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
